/* selector {property1:value1; property2:value2; property3:value3; ... ; propertyN:valueN;} */
/*
	Type of selector: -
		1. element   - HTML element names like p, div, span, table
		2. id        - HTML id names (in css id name starts with #)
		3. class     - HTML class names (in css class name starts with .)
		4. universal - Applied to whole document (in 
		5. grouping  - Combination of different selectors (separated using ,)
	
	Background - background of element
	Border     - line around element
	Margin     - space outside element's border
	Padding    - space inside element's border
	width      - vertical size of element
	height     - horizontal size of element
	
	
	Short hand property: -
	-------------------
	background: background-color background-image background-repeat background-attachment background-position
	border: border-width border-style border-color
	margin: margin-top margin-right margin-bottom margin-left
	padding: padding-top padding-right padding-bottom padding-left

	Note: -
		1. If any border / margin / padding property has 4 values then it follow -> top right bottom left
		2. If any border / margin / padding property has 3 values then it follow -> top left-right bottom
		3. If any border / margin / padding property has 2 values then it follow -> top-bottom left-right
		4. If any border / margin / padding property has 1 values then it follow -> top-bottom-left-right
*/
* {
	font-size: x-large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

#div_colorbg {
	background-image: url(../IMAGES/CSS_ICON.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	height: 1531px;
}

#div1 {
	/*
		RGB -> Red (8 bit), Green (8 bit), Blue (8 bit)
	*/
	background-color: rgb(19, 190, 233);
	width: 200px;
	height: 200px;
}

#div2 {
	/*
		HSL -> Hue Saturation Lightness
		Hue: -
			1. It represent color model from 0° to 359°
			2. Red -> 0°, Yellow -> 60°, Green -> 120°, Cyan -> 180°, Blue -> 240°, Magenta -> 300°

		Saturation: -
			1. It represent intensity of color from 0% to 100%
			2. Grey -> 0%, Color itself -> 100%

		Lightness: -
			1. It represent lightness of color from 0% to 100%.
			2. Black -> 0%, Color itself -> 50%, White -> 100%
	*/
	background-color: hsl(239, 100%, 60%);
	width: 200px;
	height: 200px;
}

#div3 {
	/*
		RGB -> Red (8 bit), Green (8 bit), Blue (8 bit)

		Alpha: -
			1. It represent transparency of color from 0 to 1
			2. Fully transparent -> 0, Not transparent -> 1
	*/
	background-color: rgba(19, 190, 233, 0.541);
	width: 200px;
	height: 200px;
}

#div4 {
	/*
		HSLA -> Hue Saturation Lightness Alpha
		Hue: -
			1. It represent color model from 0° to 359°
			2. Red -> 0°, Yellow -> 60°, Green -> 120°, Cyan -> 180°, Blue -> 240°, Magenta -> 300°

		Saturation: -
			1. It represent intensity of color from 0% to 100%
			2. Grey -> 0%, Color itself -> 100%

		Lightness: -
			1. It represent lightness of color from 0% to 100%
			2. Black -> 0%, Color itself -> 50%, White -> 100%
		
		Alpha: -
			1. It represent transparency of color from 0 to 1
			2. Fully transparent -> 0, Not transparent -> 1
	*/
	background-color: rgba(51, 54, 255, 0.438);
	width: 200px;
	height: 200px;
}

#div_bgimg {
	background-image: url(../IMAGES/CSS_ICON.png);
	background-color: antiquewhite;
	background-position: center right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 1531px;
}

/*

Border, Margin, Padding: -
	1. It follows argument as top right bottom left
	2. Padding is space between two or more element
	3. 
*/

#div_border {
	width: 300px;
	height: 300px;
	border: 10px blue solid;
	/* border-width: 10px 20px 30px 40px;
	border-color: blue green yellow red;
	border-style: solid dotted double dashed; */
	border-radius: 50%; /* At 50% border-radius become circle */
}

#div_margin {
	width: 300px;
	height: 300px;
	margin: 130px 40px 40px 50px;
	border: 5px green solid;
	background-color: white;
}

#div_padding {
	width: 300px;
	height: 300px;
	padding: 130px 40px
}